.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background: url("./Images/texture.jpg");
}

.login_container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

.login_container > img {
  object-fit: contain;
  height: 200px;
}

.login_container > Button {
  width: 100%;
}
